.container
    .jumbotron
        h1 Multivision
        p Welcome to Multivision. This is to get Jawad Rashid acquinted with MEAN stack so he can start developing applications on MEAN stack.

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")